@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.universal_padding {
  padding: 0rem 15rem;
}
header {
  height: 542px;
  background-color: #d4d4d4;
}

/* Navigation section */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 22px 0px;
}
.logo img {
  height: 33px;
}
.action {
  display: flex;
  align-items: center;
  gap: 59px;
  margin-right: 13%;
  margin-bottom: 4px;
}
.action a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 430;
}
.account_logo {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 450;
  margin-bottom: 4px;
}
.account img {
  width: 30px;
  opacity: 0.8;
  margin: 0px 4px;
}

.account {
  display: flex;
}
.hero_title {
  text-transform: capitalize;
  font-weight: 401;
  font-size: 41px;
  line-height: 55px;
}
.hero_desc li {
  font-size: 13.5px;
  line-height: 1.9;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-weight: 400;
}
.hero_desc {
  margin-bottom: 30px;
}
.main_section {
  display: flex;
  gap: 70px;
  margin: 59px 0px;
  padding-bottom: 100px;
  justify-content: space-between;
}
/* <!-- Navigation below section  --> */
.hero_left {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.hero_right img {
  width: 500px;
}
.main_section button {
  background-color: black;
  width: 115px;
  height: 42px;
  border: none;
  color: white;
  font-weight: 700;
  /* padding: 15px 32px; */
  border-radius: 3px;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  margin-top: -20px;
}
.hero_desc ul {
  padding-left: 20px;
  font-size: 14px;
}

.main_plus_loc {
  position: relative;
}
/* location  Section */
.location {
  display: flex;
  background-color: #f3f3f3;
  height: 110px;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
  bottom: -1rem;
  width: 100%;
  align-content: center;
  padding: 20px 40px;
}
.pick_up_details_upper_container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}
.pick_up_details_upper_container p {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.pick_up_details_lower_container {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-weight: 400;
  font-size: 10px;
}
.drop_off_details_lower_container {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-weight: 400;
  font-size: 10px;
}
.drop_off_details_upper_container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}
.drop_side {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.search {
  display: flex;
  align-items: center;
}
.Search_icon input {
  margin-top: 16px;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  border: none;
  font-weight: 400;
}
.upper {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: 400;
}
.lower {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
}

.main_main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
/* Our services section */
.our_services_content {
  padding: 0rem 20rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.our_services_title {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 6px;
}
.our_services_content div {
  flex-wrap: wrap;
  border-radius: 10px;
  height: 370px;
}
.our_services_content img {
  width: 280px;
  height: 220px;
}
.our_services_content button {
  background-color: black;
  width: 105px;
  height: 33px;
  border: none;
  color: white;
  font-size: 11px;
  font-weight: 500;
  margin-top: 8px;
  border-radius: 3px;
}
.box1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.box2 {
  margin-bottom: 50px;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
.row1_box1,
.row1_box2,
.row1_box3,
.row2_box1,
.row2_box2,
.row2_box3 {
  height: 100%;
  width: 280px;
  border: 0.5px solid #b1b5c3;
}
.row1_box1_content,
.row1_box2_content,
.row1_box3_content,
.row2_box1_content,
.row2_box2_content,
.row2_box3_content {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 29px 20px;
}
.row2 {
  display: flex;
  justify-content: space-between;
}
.our_services_content_font1 {
  font-size: 12px;
  font-weight: 490;
}
.our_services_content_font2 {
  font-size: 9px;
  font-weight: 400;
}
/* How it works section */
.how_it_work {
  height: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0px;
}
.how_it_work img {
  height: 375px;
}

/* Why choose us section */
.why_choose_us_main {
  padding: 0rem 15rem;
}
.why_choose_us_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 35px;
}
#why_choose_us_title_1 {
  font-size: 40px;
  font-weight: 500;

}
#why_choose_us_title_2 {
  font-size: 14px;
  font-weight: 300;
}
.why_choose_us_content_left img {
  width: 600px;
}
.why_choose_us_title_2 p{
  font-size: 14px;
}
.why_choose_us_space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
}
.why_choose_us_content_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 30px 0px 50px;
}
.why_choose_us_content {
  display: flex;
  justify-content: space-between;
}
.why_choose_us_content_right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.why_choose_us_content_right_container{
  display: flex;
  flex-direction: column; 
  gap: 50px;
  justify-content: space-evenly;
}
.why_choose_us_content_right_container_heading{
  font-size: 18px ;
  
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 550;
  color: #1A202C;

}
.why_choose_us_content_right_container_content{
  font-size: 13px ;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #1A202C;
  line-height: 1.5;
}

/* Trusted by section */
.trusted_by {
  background-color: #f5f5f5;
  padding: 0rem 15rem;
  height: 550px;
}

.trusted_by {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 55px;
}
.trusted_by_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#trusted_by_title_1 {
  font-size: 39px;
  font-weight: 500;
}
#trusted_bytitle_2 {
  font-size: 14px;
  font-weight: 350;
}
.trusted_by_testi {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* padding: 0rem 15rem; */
}
.testi {
  width: 315px;
  height: 190px;
  border-radius: 7px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 28px;
}

#testi_1_profile,
#testi_2_profile,
#testi_3_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
}
#testi_1_profile_left,
#testi_2_profile_left,
#testi_3_profile_left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#testi_1_profile_left,
#testi_2_profile_left,
#testi_3_profile_left i {
  font-size: 25px;
}
#testi_3_profile_right {
  font-size: 14px;
}
#testi_1_name,
#testi_2_name,
#testi_3_name {
  font-size: 13px;
  font-weight: 600;
}
#testi_1_loc,
#testi_2_loc,
#testi_3_loc {
  font-size: 11px;
  font-weight: 400;
  color: #4f5665;
}
#testi_1_content,
#testi_2_content,
#testi_3_content {
  font-size: 12px;
  font-weight: 390;
  line-height: 25px;
}
.trusted_by_button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.right_button {
  display: flex;
  gap: 50px;
}

/* <!-- Ready For Section --> */
.ready_for {
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 15rem;
  margin: 75px 0px;
}
.ready_for_button button {
  background-color: black;
  width: 150px;
  height: 57px;
  border: none;
  color: white;
  font-weight: 800;
  padding: 15px 32px;
  border-radius: 5px;
}
.ready_for_button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ready_for_title {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 12px;
}
#ready_for_title_1 {
  font-weight: 500;
  font-size: 38px;
}
#ready_for_title_2 {
  font-weight: 400;
  font-size: 15px;
}

/* footer section */
footer {
  background-color: #c4c4c4;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Upper Footer section */
.upper_footer {
  display: flex;
  justify-content: space-between;
}
.upper_footer a {
  text-decoration: none;
  color: black;
}
.footer_logo img {
  height: 33px;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
#footer_logo_text {
  font-weight: 400;
  font-size: 13px;
}
.footer_logo_icon {
  display: flex;
  justify-content: start;
  gap: 35px;
}
.footer_about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
.footer_about p,
.footer_services p {
  font-weight: 500;
  font-size: 18px;
}
.footer_about a,
.footer_services a {
  font-weight: 400;
  font-size: 14px;
}

.footer_services_sub {
  display: flex;
  gap: 45px;
  height: 100%;
}
.footer_services_1,
.footer_services_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Lower Footer section */
.lower_footer {
  display: flex;
  justify-content: space-between;
}
.pc_tc {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
#lower_footer_para {
  font-size: 13px;
  font-weight: 400;
  margin-top: 23px;
}
